.divSelectorYbar{
    display: flex;
    flex-wrap:wrap;
    overflow: hidden;
    background-color: rgb(144,238,144);
    border: 1px solid black;
    width: 50%;
    height: 6rem;
    margin-top: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.inputSearch{    
    width: 100px;
    padding: 8px;
    color: #35bcdd;
    border-color: #35bcdd;;
    background-color: #bed3c3;
    border: 2px solid none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    
    
   
}
.errorInputSearch{
    width: 100px;
    padding: 8px;
    color: #dd4e35;
    border-color: #d62812;;
    background-color: #bed3c3;
    border: 2px solid none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    margin-left: 5px;
    
}
.spanErrorSearch{    
    color: red;
    /* margin-bottom: 5px;     
    margin-left: 5px;
    margin-right: 5px;*/
} 

.btnSubmit{    
    border-radius: 10px;
    color: #35bcdd;
    border-color: #35bcdd;;
    background-color: #030704;
    border: 2px solid none;
    padding: 5px 12px;
    width: auto;
    margin-left: 5px;
}
.btnSubmit:hover{
    color: rgb(109, 38, 150);
    cursor: pointer;
    border: 2px solid rgb(109, 38, 150);

}

@media only screen and (max-width: 600px){
    .inputSearch{
        height: 2rem;    
    }
    .btnSubmit{
        height:2.5rem;
        width: 6rem;
    }
}