.notfoundCont {     
    height: 406px;
}
.texto {
    color: #21d7d7;   
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-left: 230px;
    margin-bottom: 0px;
}
.pikachu {    
    width: 50%;
    border-radius: 8px;
    margin-top: 5px;
    margin-left: 230px;
}